<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <a href="{{ url_for('index') }}">Home</a>
                {% if session.username %}
                    <a href="{{ url_for('new') }}">New Page</a>
                    <a href="{{ url_for('new_template') }}">New Template</a>
                    <a href="{{ url_for('upload') }}">Upload</a>
                    <a href="{{ url_for('download') }}">Download Sample JSON</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>